* {
    margin: 0;
    padding: 0;
}

/* auto */

.virsbuve {
    background-color: red;
    width: 150px;
    height: 90px;
    margin: 100px auto;
    border-top-left-radius: 70%;
    border-top-right-radius: 50%;
    position: relative;
    right: 35.5%;
    top: 225px;
}
.logia span{
    width: 40px;
    height: 25px;
    background-color: black;
    position: relative;
}
.logia .logia1 {
    top: 340px;
    left: 215px;
    border-top-right-radius: 50%;
    position: absolute;
}
.logia .logia2 {
    top: 340px;
    left: 155px;
    border-top-left-radius: 50%;
    position: absolute;
}
.riepas span {
    background-color: black;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
}
.riepas .r1 {
    left: 17%;
    top: 400px;
    position: absolute;
}
.riepas .r2 {
    left: 10%;
    top: 400px;
    position: absolute;
}

/* maja */

.korpuss {
    background-color:bisque;
    width: 350px;
    height: 300px;
    position: relative;
    margin-top: -160px;
    margin-left: 540px;
}
.jumts {
    height: 0px;
    width: 0px;
    border-bottom: 100px solid brown;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    position: relative;
    margin-left: 515px;
    margin-top: -400px;
}
.durvis {
    height: 80px;
    width: 65px;
    background-color: chocolate;
    position: relative;
    margin-top: 220px;
    margin-left: 686px;
}
.klinkis {
    height: 8px;
    width: 15px;
    background-color: black;
    position: relative;
    margin-left: 735px;
    margin-top: -45px;
}
.logi span {
    background-color: aqua;
    width: 70px;
    height: 70px;
    position: absolute;
}
.logi .l1 {
    top: 170px;
    right: 38%;
}
.logi .l2 {
    top: 170px;
    right: 52%;
}
.logi .l3 {
    right: 52%;
    top: 300px;
}
.logi .l4 {
    right: 38%;
    top: 300px;
}
.masts {
    width: 5px;
    height: 300px;
    background-color: black;
    position: relative;
    margin-top: -263px;
    margin-left: 992px;
}
.karogs {
    background-color: white;
    width: 140px;
    height: 15px;
    border-top: 20px solid rgb(158, 48, 57);
    border-bottom: 20px solid rgb(158, 48, 57);
    position: relative;
    margin-top: -300px;
    margin-left: 997px;
}

/* cilveks */

.kermenis {
    background-color: yellowgreen;
    width: 30px;
    height: 40px;
    position: relative;
    top: 175px;
    left: 28.7%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}
.kajas span {
    width: 7.5px;
    height: 35px;
    background-color: blue;
    position: absolute;
}
.kajas .k1 {
    top: 400px;
    left: 28.8%;
}
.kajas .k2 {
    top: 400px;
    left: 30.35%;
}
.galva {
    background-color: beige;
    width: 25px;
    height: 18px;
    margin-bottom: 20px;
    border-radius: 50%;
    margin-left: 395px;
    position: relative;
    margin-top: 123px;
}
.rokas span{
    background-color: yellowgreen;
    width: 7px;
    height: 30px;
    position: absolute;
}
.rokas .ro1 {
    top: 365px;
    left: 28.25%;
    transform: rotate(30deg);
}
.rokas .ro2 {
    top: 340px;
    left: 31.2%;
    transform: rotate(40deg);
}
.acis span {
    background-color: black;
    width: 2px;
    height: 2px;
    position: absolute;
}
.acis .ac1 {
    top: 353px;
    left: 30.1%;
}
.acis .ac2 {
    top: 353px;
    left: 29.5%;
}
.smaids {
    width: 5px;
    height: 5px;
    border: 1px solid black;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-225deg);
    position: relative;
    margin-top: -30px;
    margin-left: 29.6%;
}

/* Suns */

.kerm {
    background-color: coral;
    width: 50px;
    height: 20px;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    position: relative;
    margin-top: 38px;
    margin-left: 1085px;
}
.kaja span {
    background-color: coral;
    width: 5px;
    height: 10px;
    position: absolute;
}
.kaja .ka1 {
    top: 420px;
    right: 20%;
}
.kaja .ka2 {
    top: 420px;
    right: 17.1%;
}
.aste {
    background-color: coral;
    width: 5px;
    height: 18px;
    position: relative;
    margin-top: -31px;
    margin-left: 1139px;
    transform: rotate(55deg);
}
.galv {
    background-color: coral;
    width: 27px;
    height: 19px;
    margin-bottom: 20px;
    border-radius: 45%;
    position: relative;
    margin-top: -9px;
    margin-left: 1065px;
}
.ausis span {
    height: 0px;
    width: 0px;
    border-bottom: 5px solid coral;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: 33%;
}
.ausis .aus1 {
    top: 396px;
    right: 20.4%;
}
.ausis .aus2 {
    top: 396px;
    right: 20.95%;
}
.aciss span {
    background-color: black;
    width: 2px;
    height: 2px;
    position: absolute;
}
.aciss .acs1 {
    top: 405px;
    right: 20.7%;
}
.aciss .acs2 {
    top: 405px;
    right: 21.2%;
}
.smaidins {
    width: 5px;
    height: 5px;
    border: 1px solid black;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-225deg);
    position: absolute;
    top: 407px;
    right: 20.8%;
}
